body
{
    background-color: rgba(192, 25, 83, 0.1);
}

#breadcrumbs-wrapper
{
    background-color: #C01953;
}

#breadcrumbs-wrapper a
{
    color: white;
}

a, a:link, a:visited, a:hover, a:active,
#content a:visited
{
    color: #C01953;
}

.portletNavigationTree a,
.portletNavigationTree a:link,
.portletNavigationTree a:visited,
.portletNavigationTree a:active
{
    color: #C01953 !important;
}
