body
{
    background-color: rgba(192, 25, 83, 0.1);
}

#breadcrumbs-wrapper
{
    background-color: #C01953;
}

#breadcrumbs-wrapper a
{
    color: white;
}

#content-wrapper
{
    padding-top: 0px;
}

a, a:link
{
    color: #C01953;
}

a:visited, a:hover, a:active,
#content a:visited
{
    color: #E08CA9;
}

.portletNavigationTree a,
.portletNavigationTree a:link
{
    color: #C01953 !important;
}

.portletNavigationTree a:visited,
.portletNavigationTree a:active
{
    color: #E08CA9 !important;
}
